*{margin: 0; padding: 0;}

.container {
    width: 99.5vw;
    height: 99vh;
}

.framemetaverso {
    width: 99.5vw;
    height: 99vh;
    position: absolute;
}

.jitsi {
    width: 99.5vw;
    height: 99vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.framejitsi {
    width: 25vw;
    height: 35vh;
    position: absolute;
    border-radius: 10px;
}

.smallscreenButton {
    z-index: 50;
}

.fullscreenButton {
    z-index: 100;
}

button {
    position: absolute;
    border: 0;
    /*background-color: rgb(221, 221, 221);
    background-color: black;*/
    border-radius: 5px;
    background: none;
}

.botao {
    margin: 10px;
    width: 30px;
    height: 30px;
    align-items: center;
    padding: 3px;
    position: absolute;
    transition-duration: 0.3s;
}

.botao:hover {
    background-color: rgb(97, 96, 96);
    border-radius: 4px;
    padding: 10px;
}

.bx {
    width: 30px;
    height: 30px;
    color: #ffffff;
    font-size: 30px;
}
