*{margin: 0; padding: 0;}

.container {
    width: 100vw;
    height: 100vh;
   
}

.framemetaverso {
    width: 99.5vw;
    height: 99vh;
    position:absolute;
}

.jitsi {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.framejitsi {
    width: 25vw;
    height: 35vh;
    position: absolute;
    border-radius: 10px;
    margin: 10px;
}

button {
    position: absolute;
    border: 0;
    /*background-color: rgb(221, 221, 221);
    background-color: black;*/
    border-radius: 5px;
    background: none;
}

.botao {
    margin: 15px;
    width: 30px;
    height: 30px;
    align-items: center;
    padding: 3px;
    position: absolute;
    transition-duration: 0.4s;
}

.botao:hover {
    background-color: rgb(47, 0, 255);
}

.bx {
    width: 30px;
    height: 30px;
    color: #ffffff;
    font-size: 30px;
    
}